#startGame {

  position: absolute; 
  left: 25%;
  top: 25%;
  width: 25%;
  height: 25%;

  font-family: arial;
  font-size: 24;
  font-weight: bold;
  color: white;

}

body {

  background-color: black;

}